* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  


  .cloud1 {
    width: 20%;
    top: 7%;
    left: 16%;
    position: absolute;
}
  
  .background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .bird {
    position: absolute;
    margin-left: 30vw;
    margin-top: 20vh;
    height: 10vh;
  }
  
  .moon {
    height: 12vh;
    margin-left: 20vw;
    margin-top: 12vh;
  }
  
  .jungle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
  }
  
  .button {
    background-color: rgb(224, 234, 234);
    color: #111425;
    padding: 1vh 1.5vw;
    border: 2px solid;
    border-radius: 15%;
    font-size: large;
    font-family: algerian;
  }
  
  .button:hover {
    background-color: aqua;
  }
  .background i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
  }
  
  #star {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  